@import url('https://css.gg/file-document.css');
@import url('https://css.gg/folder-add.css');
@import url('https://css.gg/folder-remove.css');

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0 16px;
  --color-border: #0cc;
  --width-border: 8px;
}

main {
  border: var(--width-border) solid var(--color-border);
  display: grid;
  grid-template-columns: [start] 30% [column2] 70% [end];
}

nav {
  border-right: var(--width-border) solid var(--color-border);
  grid-column-start: start;
  grid-column-end: column2;
}

nav .column-date, nav .column-size {
  display: none;
}

section {
  grid-column-start: column2;
  grid-column-end: end;
}

nav > ul, section > ul {
  padding-left: 10px;
}

h2 {
  color: #888;
  margin-left: 20px;
}

ul {
  list-style: none;
}

.columns {
  display: grid;
  grid-template-columns: [start-node] 50% [column2-node] 25% [column3-node] 15% [end-node];
  width: 100%;
}

.column-name {
  align-items: center;
  display: flex;
  grid-column-start: start-node;
  grid-column-end: column2-node;
}

.column-date {
  grid-column-start: column2-node;
  grid-column-end: column3-node;
}

.column-size {
  grid-column-start: column3-node;
  grid-column-end: end-node;
}

.folder .column-size {
  display: none;
}

li > div {
  align-items: center;
  cursor: pointer;
  display: flex;
}

i {
  margin: 10px;
}

.hidden {
  display: none;
}

.selected {
  background-color: var(--color-border);
}

.selected > ul {
  background-color: #fff;
}